﻿@using FinalsProject.DataAccess.Entities
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (Product product in Model.Products)
    {
    <div class="col-md-3 product-container">
        <img src="~/Content/images/sample.png" width=128px />
        <h4>@product.Name</h4>
        @if (product.Rating != 0)
        {
        @((float)product.Rating / 20)<span>/5</span><br />
        }
        else
        {
            <br />
        }
        <div class="ratings">
            <div class="empty-stars"></div>
            <div class="full-stars" style="width:@product.Rating%"></div> 
        </div>
        <span class="price"><br />@product.Price</span> <br />
        <span class="product-buttons">
            <button class="btn btn-success">Разгледай</button><br />
            <button class="btn btn-info">Добави в количката</button>
        </span>
    </div>
    }
</div>
